@{
  ViewData["Title"] = "Home Page";
}

<div class="text-start">
  <div class="title">
    <h1>Melody Magic at Your Fingertips</h1>
  </div>
  <div class="subtitle">
    <h3>Elevate Your Songwriting with SongSmith</h3>
  </div>
  <a asp-action="SongSmithy" asp-controller="Song" class="btn btn-orange">
    Learn More
  </a>
</div>

