html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: url("../Content/Images/00005-2060718754.0.png");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.title h1 {
  color: #fff;
  font-size: 4vw;
  max-width: 40%;
}
.subtitle h3 {
  font-size: 2vw;
  max-width: 30%;
}
.text-orange {
  color: #ff2222;
}
.text-orange:hover {
  color: #be2828;
}
.hover-orange:hover {
  color: #ff2222;
}
.btn-orange {
  color: #000;
  background-color: #ff2222;
}
.btn-orange:hover {
  color: #fff;
  background-color: #be2828;
}
